@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
h1 {
  color: #1e5a83;
  font-weight: 400; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #c0dee6;
  background-image: url("../img/background.svg");
  background-repeat: no-repeat;
  background-position: 180% bottom;
  background-size: 85%;
  min-height: 100vh;
  color: #72787a; }

a {
  text-decoration: none; }

.center {
  text-align: center; }

.box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 90px;
  float: right;
  margin-top: 50px;
  width: 60%;
  min-width: 300px;
  border-radius: 10px; }
  .box p {
    font-size: 12px; }
  .box h1 {
    font-size: 24px; }
  .box img {
    width: 18px;
    margin-bottom: -2px; }
  .box .divider-row {
    margin-top: 20px;
    margin-bottom: -10px; }
    .box .divider-row .col-xs-5:nth-child(1) {
      padding-left: 10px; }
    .box .divider-row .col-xs-2, .box .divider-row .col-xs-5 {
      padding: 0; }
    .box .divider-row .divider {
      width: 100%;
      border-bottom: 1px solid #aab0b2; }
    .box .divider-row p {
      margin-top: -8px; }
  .box form {
    margin-top: 50px; }
    .box form input[type="email"], .box form input[type="password"], .box form input[type="text"] {
      border: 1px solid #44a3ce;
      border-radius: 8px;
      width: 96%;
      padding-left: 4%;
      height: 50px;
      color: #000;
      font-weight: 600;
      font-size: 12px;
      background-color: #f9fcfc;
      position: relative;
      z-index: 1; }
      .box form input[type="email"]::placeholder, .box form input[type="password"]::placeholder, .box form input[type="text"]::placeholder {
        color: #000;
        font-weight: 600;
        font-size: 12px; }
    .box form input[type="password"], .box form input[type="text"] {
      margin-top: 34px; }
    .box form .fa, .box form .fa-eye, .box form .fa-eye-slash {
      float: right;
      color: #1e5a83;
      font-size: 18px;
      margin-top: -36px;
      margin-right: 8px;
      position: relative;
      z-index: 1000; }
    .box form .row {
      margin-top: 16px;
      font-size: 11px; }
      .box form .row a {
        float: right;
        font-style: italic;
        color: #75c9e1; }
    .box form button {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      margin-top: 24px;
      width: 102%;
      height: 50px;
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      border-radius: 6px;
      border-color: transparent;
      border: none;
      background-image: linear-gradient(to right, #1e5a83 0%, #44a3ce 100%); }
  .box .center p, .box .center a {
    font-size: 12px; }
  .box .center a {
    font-style: italic;
    color: #1e5a83;
    margin-left: 12px;
    font-weight: 600; }

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 11px;
  width: 11px;
  background-color: transparent;
  border: 1.5px solid #1e5a83;
  border-radius: 3px; }

/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 4px;
  top: -1px;
  width: 3px;
  height: 7px;
  border: solid #1e5a83;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.register-box form input[type="email"] {
  margin-top: 34px; }
.register-box form button {
  margin-top: 34px; }

.forgot-password p {
  width: 80%;
  min-width: 290px;
  margin: 0 auto -20px auto; }
.forgot-password form button {
  margin-top: 34px; }

.reset-password form {
  margin-top: 0px; }
  .reset-password form button {
    margin-top: 34px; }

.signup-successful h3, .signup-unsuccessful h3 {
  font-size: 14px;
  color: #1e5a83;
  line-height: 1.8; }
  .signup-successful h3 a, .signup-unsuccessful h3 a {
    color: #44a3ce; }

.signup-successful h3 {
  margin-top: 56px; }
.signup-successful img {
  width: 30%;
  min-width: 100px;
  margin-top: 40px; }

.signup-unsuccessful h3 {
  margin-top: 50px; }
.signup-unsuccessful img {
  width: 30%;
  min-width: 100px;
  margin-top: 18px; }

/*# sourceMappingURL=app.css.map */
